// @import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Helvetica,
		Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: $font-color;
}

.container {
	max-width: $max-width;
	padding: 1.5rem;
	margin: 0 auto;
}

//buttons
button {
	color: inherit;
	border: 0;
	cursor: pointer;
	margin: 0;
	display: inline-flex;
	outline: 0;
	padding: 0;
	position: relative;
	align-items: center;
	user-select: none;
	border-radius: 0;
	vertical-align: middle;
	-moz-appearance: none;
	justify-content: center;
	text-decoration: none;
	background-color: transparent;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
}

button::-moz-focus-inner {
	border-style: none;
}

// links
a {
	color: $link-color;
	transition: color $transition;
	&:visited,
	&:active {
		color: $link-color;
		transition: color $transition;
	}
	&:hover {
		color: $link-hover-color;
		transition: color $transition;
	}
}

//headings
h1,
h2,
h3,
h4,
h5 {
	text-align: start;
	margin: 0 auto;
	line-height: $heading-line-height;
	font-weight: $heading-font-weight;
	color: $heading-font-color;
	margin-bottom: 0.5rem;
}

h1 {
	font-size: $h1;
}
h2 {
	font-size: $h2;
}
h3 {
	font-size: $h3;
}
h4 {
	font-size: $h4;
}
h5 {
	font-size: $h5;
}

@include medium-breakpoint {
	.container {
		padding: 1rem;
	}
}

//tags/chips
.tag-container {
	a {
		display: inline-block;
		padding: 0.3rem 0.5rem;
		border: 1px solid $primary;
		border-radius: 16px;
		font-size: 0.8rem;
		color: $primary;
		margin: 0 0.5rem 0.5rem 0;
		font-weight: 600;
		transition: background-color $transition;

		&:hover,
		&:active,
		&:focus {
			background: $accent-bg-color;
		}
	}
}

//code

code[class*='language-'],
pre[class*='language-'],
pre {
	::selection {
		background: rgba(150, 150, 150, 0.3) !important;
	}
	border-radius: $border-radius;
	code {
		font-family: $code-font-family;
		font-size: 13px;
		direction: ltr;
		text-align: left;
		white-space: pre-wrap;
		word-spacing: normal;
		word-break: normal;
		line-height: 1.7;
		font-weight: 400;
		margin: 2rem 0;
		tab-size: 2;
		hyphens: none;
		-webkit-font-smoothing: antialiased;
		display: block;
		padding: 1.5rem;
		overflow: auto;
		border: 0;
		box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.15);
	}
}
